<app-loading *ngIf="loadingService.modal"></app-loading>
<mat-card class="bg-light">
  <mat-card-header>
    <mat-card-title>
      <strong>
        {{ titulo }}
      </strong>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="bg-light">
    <form [formGroup]="formularioCreado">
      <div class="row">
        <div class="col-sm-6">
          <mat-card class="bg-light">
            <mat-card-content class="bg-light">
              <div class="form-group row">
                <div class="col-sm-12">
                  <mat-form-field appearance="fill" style="width: 100%">
                    <mat-label for="usuario"> Nick </mat-label>
                    <input
                      autocomplete="off"
                      matInput
                      required
                      formControlName="usuario"
                      placeholder="Digite su nick de usuario "
                    />
                    <mat-icon matSuffix>person</mat-icon>
                  </mat-form-field>
                  <mat-error
                    *ngIf="
                      formularioCreado.controls['usuario'].invalid &&
                      (formularioCreado.controls['usuario'].dirty ||
                        formularioCreado.controls['usuario'].touched)
                    "
                  >
                    <mat-error
                      *ngIf="
                        formularioCreado.controls['usuario'].errors.required
                      "
                      role="alert"
                    >
                      Nick es requerido
                    </mat-error>
                  </mat-error>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12">
                  <mat-form-field appearance="fill" style="width: 100%">
                    <mat-label>Contraseña</mat-label>
                    <input
                      autocomplete="off"
                      placeholder="Digite su Contraseña de usuario "
                      formControlName="password"
                      matInput
                      [type]="hide ? 'password' : 'text'"
                    />
                    <button
                      mat-icon-button
                      matSuffix
                      (click)="hide = !hide"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide"
                    >
                      <mat-icon>{{
                        hide ? "visibility_off" : "visibility"
                      }}</mat-icon>
                    </button>
                  </mat-form-field>
                  <mat-error
                    *ngIf="
                      formularioCreado.controls['password'].invalid &&
                      (formularioCreado.controls['password'].dirty ||
                        formularioCreado.controls['password'].touched)
                    "
                  >
                    <mat-error
                      *ngIf="
                        formularioCreado.controls['password'].errors.required
                      "
                      role="alert"
                    >
                      Password es requerido
                    </mat-error>
                  </mat-error>
                </div>
              </div>
              <!-- <div class="form-group row">
                <div class="col-sm-12">
                  <mat-form-field appearance="fill" style="width: 100%">
                    <mat-label for="sucursal"> Sucursal </mat-label>
                    <mat-select
                      formControlName="sucursal"
                      required
                      name="sucursal"
                    >
                      <mat-option
                        *ngFor="let sucursal of sucursales"
                        [value]="sucursal"
                      >
                        {{ sucursal.nombre | uppercase }}
                      </mat-option>
                    </mat-select>
                    <mat-icon matSuffix> location_on</mat-icon>
                  </mat-form-field>
                  <mat-error
                    *ngIf="
                      formularioCreado.controls['sucursal'].invalid &&
                      (formularioCreado.controls['sucursal'].dirty ||
                        formularioCreado.controls['sucursal'].touched)
                    "
                  >
                    <mat-error
                      *ngIf="
                        formularioCreado.controls['sucursal'].errors.required
                      "
                      role="alert"
                    >
                      Sucursal es requerido
                    </mat-error>
                  </mat-error>
                </div>
              </div> -->
              <button
              [disabled]="!formularioCreado.valid"
              (click)="login()"
              type="submit"
              class="btn btn-lg btn-dark btn-block"
              value="Login"
              mat-raised-button
              disabled
            >
              Ingresar
            </button>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-sm-6">
          <mat-card>
            <mat-card-content>
          <img
            src="{{ urlEndPoint }}images/logo.jpg"
            alt="No se Pudo Establecer Conexion con la Base de Datos"
            class="img-thumbnail rounded"
            style="width: 100%"
          />
        </mat-card-content>
        </mat-card>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
