<app-loading *ngIf="loadingService.modal"></app-loading>
<div class="container"  *ngIf="sucursal">
    <a [routerLink]="['/sucursales']"
              class="btn btn-outline-warning btn-xs my-2">&laquo;
              Regresar
    </a>
    <button
            type="button"
            class="btn btn-outline-secondary btn-xs my-2 mx-3"
            [routerLink]="['/sucursales/form', sucursal.id]"
    >
      Editar
    </button>
    
  <div class="row">
    <div class="col-sm">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <ul *ngIf="sucursal"  class="list-group text-dark mb-3">
              <li class="list-group-item active bg-dark text-muted">
                {{sucursal.nombre}}
              </li>
              <li class="list-group-item">
                <strong>Nombre Sucursal: </strong>
                {{sucursal.sede}}
              </li>
              <li class="list-group-item">
                <strong>Propietario: </strong>
                {{sucursal.propietario}}
              </li>
              <li class="list-group-item">
                <strong>Nit: </strong>
                {{sucursal.nit}}
              </li>
              <li class="list-group-item">
                <strong>Regimen: </strong>
                {{sucursal.regimen}}
              </li>
              <li class="list-group-item">
                <strong>Ubicacion: </strong>
                {{sucursal.geoposicion}}
              </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul *ngIf="sucursal"  class="list-group text-dark mb-3">
              <li class="list-group-item">
                <strong>Direccion: </strong>
                {{sucursal.direccion}}
              </li>
              <li class="list-group-item">
                <strong>Telefono: </strong>
                {{sucursal.telefono}}
              </li>
              <li class="list-group-item">
                <strong>WhatsApp: </strong>
                {{sucursal.celular1}}
              </li>
              <li class="list-group-item">
                <strong>Celular: </strong>
                {{sucursal.celular2}}
              </li>
              <li class="list-group-item">
                <strong>Facebook: </strong>
                {{sucursal.facebook}}
              </li>
              <li class="list-group-item">
                <strong>Instagram: </strong>
                {{sucursal.instagram}}
              </li>
            </ul>

          </div>
        </div>
     
  </div>
  <div class="row" >
     
    </div>
    <div class="row">

      <div class="alert alert-info my-4" *ngIf="sucursal.facturas.length == 0">
        No hay Facturas asignadas para la Sucursal:
        <strong> {{sucursal.nombre}}  </strong>
      </div>

      <table class="table table-bordered text-center table-striped my-4"
                    *ngIf="sucursal.facturas.length > 0">
        <thead class="bg-dark  text-white">
          <tr>
            <th>Folio</th>
            <th>Descripción</th>
            <th>Fecha</th>
            <th >Total</th>
            <th *ngIf="authService.hasRole('ROLE_ADMIN')"
                >Ganancia</th>
            <th >Detalle</th>
            <!-- <th *ngIf="authService.hasRole('ROLE_ADMIN')">eliminar</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let factura of sucursal.facturas">
            <td>{{factura.id}}</td>
            <td>{{factura.descripcion | uppercase}}</td>
            <td>{{factura.createAt | date:"fullDate"}}</td>
            <td class="text-right">{{formatNumber(factura.totalFactura)}}</td>
            <td *ngIf="authService.hasRole('ROLE_ADMIN')"
                class="text-right">{{formatNumber(factura.totalGanancia)}}</td>
            <td class="text-center"><button class="btn btn-primary btn-sm" type="button"
              [routerLink]="['/facturas', factura.id]">ver</button>
            </td>
          </tr>
        </tbody>
        <a [routerLink]="['/clientes']"
            class="btn btn-outline-warning btn-xs my-3">
            &laquo; Regresar</a>
      </table>

    </div>
</div>
