<app-loading *ngIf="loadingService.modal"></app-loading>
<div class="container"  *ngIf="producto">
    <a [routerLink]="['/productos']"
              class="btn btn-outline-warning btn-xs my-2">&laquo;
              Regresar
    </a>
    <button (click)="enviarProducto(producto.id)"
            type="button"
            *ngIf="authService.hasRole('ROLE_ADMIN')"
            class="btn btn-outline-secondary btn-xs my-2 mx-3"
            [routerLink]="['/productos/form', producto.id]"
    >
      Editar
    </button>

   
   
  <div class="row">
    <div class="col-sm">
      <ul *ngIf="producto"  class="list-group text-dark mb-1">
        <!-- <li class="list-group-item active">{{producto.categoria.nombre | uppercase}}</li> -->
        <!-- <li class="list-group-item ">{{producto.codigo}}</li> -->
        <li class="list-group-item active bg-dark text-white-50">
          <strong>Producto: </strong>
          {{producto.nombre | uppercase}}
        </li>
        <li class="list-group-item">
          <strong>Codigo: </strong>
        {{producto.codigo}}
      </li>
        <li class="list-group-item">
            <strong>Descripcion: </strong>
          {{producto.descripcion}}
        </li>
        <li *ngIf="authService.hasRole('ROLE_ADMIN')"
            class="list-group-item">
            <strong>Precio Compra: </strong>
            {{redondearPrecioCompra(producto.precioCompra)}}
        </li>
        <li class="list-group-item">
            <strong>Precio Venta: </strong>
          {{formatNumber(producto.precio)}}
        </li>
        <li class="list-group-item bg-danger text-white"
            *ngIf="producto.cantidad <= 3">
            <strong>Cantidad: </strong>
            {{producto.cantidad}}
        </li>
        <li class="list-group-item"
            *ngIf="producto.cantidad > 3">
            <strong>Cantidad: </strong>
            {{producto.cantidad}}
        </li>
        <li *ngIf="(producto.cantidad >0) && authService.hasRole('ROLE_ADMIN')"
            class="list-group-item">
            <strong>Total Inversion: </strong>
            {{calcularInversion(producto.cantidad, producto.precioCompra)}}
        </li>
        <li class="list-group-item">
            <strong>Ult. Movimiento: </strong>
          {{producto.createAt | date:"fullDate"}}
        </li>
      </ul>

      <div class="input-group mb-1">
        <div class="custom-file">
          <input (change)="seleccionarFoto($event)"
                style="cursor: pointer;"
                type="file" class="custom-file-input"
                id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
          <label style="cursor: pointer;"
                 class="custom-file-label"
                 for="inputGroupFile04">{{rutaFoto}}</label>
        </div>
        <div class="input-group-append">
          <button (click)="subirFoto()"

            [disabled]="!fotoSelecionada"
            class="btn btn-outline-secondary"
            type="button" id="inputGroupFileAddon04">Subir</button>
        </div>
      </div>
      <div *ngIf="progreso>0 "  class="progress" style="height: 40px;">
          <div class="progress-bar progress-bar-striped"
              role="progressbar"
              [ngStyle]= "{width: progreso+'%'}"
              attr.aria-valuenow="{{progreso}}" aria-valuemin="0"
              aria-valuemax="100">
              {{progreso}}%
          </div>
      </div>
    </div>
    <div class="col-sm">
      <img *ngIf="producto?.foto"
          src="{{urlEndPoint}}api/uploads/imgproducto/{{producto.foto}}"
          alt="{{producto.foto}}" class="img-thumbnail rounded">
    </div>
  </div>
</div>
