<app-loading *ngIf="loadingService.modal"></app-loading>
<app-producto-buscar></app-producto-buscar>
<mat-card class="bg-dark">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
        <h3>
          <strong class="text-white">{{ titulo }}</strong>
        </h3>
      </mat-card-title>
      <mat-card-subtitle>
        <h4>
          <strong class="text-white-50"> Listado de Productos</strong>
        </h4>
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <mat-card-actions class="text-white ml-2 my-3">
      <button
        mat-raised-button
        class="btn bg-light btn-rounded btn-outline-dark btn-xs"
        type="button"
        [routerLink]="['/productos/form']"
      >
        Crear Producto
      </button>
      <button
        [disabled]="[activar]"
        mat-raised-button
        class="btn bg-light btn-rounded btn-outline-dark btn-xs mx-3"
        type="button"
        (click)="abrirModalProductoBuscar()"
      >
        Buscar Producto
      </button>
      <button
        [disabled]="[activar]"
        mat-raised-button
        class="btn bg-light btn-rounded btn-outline-dark btn-xs mx-3"
        *ngIf="authService.hasRole('ROLE_ADMIN')"
        type="button"
        [routerLink]="['/productos/informes']"
      >
        Informes
      </button>
    </mat-card-actions>

    <mat-form-field
      *ngIf="!activar"
      style="font-size: 14px; width: 100%"
      class="bg-light mb-2 p-2"
    >
      <mat-label class="ml-2">Filtro</mat-label>
      <input
        autocomplete="off"
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ej. ium"
        #input
      />
    </mat-form-field>

    <table
      matSort
      style="width: 100%"
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
    >
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef><strong> Detalle </strong></th>
        <td mat-cell *matCellDef="let element">
          <button
            *ngIf="element?.foto"
            mat-button
            [routerLink]="['/productos/details', element.id]"
          >
            <span
              matBadge="Ver"
              matBadgePosition="before"
              matBadgeColor="accent"
              matBadgeOverlap="false"
            >
              <img
                src="{{ urlEndPoint }}api/uploads/imgproducto/{{
                  element.foto
                }}"
                alt="{{ element.foto }}"
                class="img-thumbnail rounded"
                style="width: 60px"
              />
            </span>
          </button>
          <button
            *ngIf="!element?.foto"
            mat-button
            [routerLink]="['/productos/details', element.id]"
          >
            <span
              matBadge="Ver"
              matBadgePosition="before"
              matBadgeColor="accent"
              matBadgeOverlap="false"
            >
              <mat-icon>local_mall</mat-icon>
            </span>
          </button>
        </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <strong> Codigo </strong>
        </th>
        <td style="text-align: left" mat-cell *matCellDef="let element">
          {{ element.codigo }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th
          mat-sort-header
          style="text-align: left"
          mat-header-cell
          *matHeaderCellDef
        >
          <strong> Nombre </strong>
        </th>
        <td style="text-align: left" mat-cell *matCellDef="let element">
          {{ element.nombre | uppercase }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="descripcion">
        <th
         
          style="text-align: left"
          mat-header-cell
          *matHeaderCellDef
        >
          <strong> Descripcion </strong>
        </th>
        <td style="text-align: left" mat-cell *matCellDef="let element">
          {{ formatNumber(element.descripcion) }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="createAt">
        <th
          mat-sort-header
          style="text-align: right"
          mat-header-cell
          *matHeaderCellDef
        >
          <strong> Fecha Ingreso del Stock </strong>
        </th>
        <td style="text-align: left" mat-cell *matCellDef="let element">
          {{ element.createAt | date: "EEEE dd, MMMM yyyy" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No se encontraron datos 
        </td>
      </tr>
    </table>
    <mat-paginator
      *ngIf="!activar"
      [pageSizeOptions]="[5, 10, 20, 30]"
      showFirstLastButtons
    ></mat-paginator>
    <div class="alert alert-info" *ngIf="activar">
      <mat-label>
        <strong>No hay registros en la Base de Datos</strong>
      </mat-label>
    </div>
  </mat-card-content>
</mat-card>