<app-loading *ngIf="loadingService.modal"></app-loading>
<mat-card class="bg-dark">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
        <h3>
          <strong class="text-white">{{ titulo }}</strong>
        </h3>
      </mat-card-title>
      <mat-card-subtitle>
        <h4>
          <strong class="text-white-50"> Listado de Bodegas</strong>
        </h4>
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <mat-card-actions class="text-white ml-2 my-3">
        <button
          mat-raised-button
          class="btn bg-light btn-rounded btn-outline-dark btn-xs"
          type="button"
          [routerLink]="['/bodegas/form']"
        >
         Crear Bodega 
        </button>
        <!-- <button
          [disabled]="[activar]"
          mat-raised-button
          class="btn bg-light btn-rounded btn-outline-dark btn-xs mx-3"
          type="button"
          (click)="abrirModal()"
        >
          Buscar Cliente
        </button> -->
      </mat-card-actions>
    <mat-form-field
      *ngIf="!activar"
      style="font-size: 14px; width: 100%"
      class="bg-light mb-2 p-2"
    >
      <mat-label class="ml-2">Filtro</mat-label>
      <input
        autocomplete="off"
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ej. ium"
        #input
      />
    </mat-form-field>
    <table
      matSort
      style="width: 100%"
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
    >
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef><strong>Detalle</strong></th>
        <td mat-cell *matCellDef="let element">
          <button mat-button [routerLink]="['/bodegas/details', element.id]">
            <mat-icon
              matBadge="Ver"
              matBadgePosition="before"
              matBadgeColor="accent"
              >domain</mat-icon
            >
          </button>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="cantidad">
        <th
          mat-sort-header
          style="text-align: left"
          mat-header-cell
          *matHeaderCellDef
        >
          <strong> Cantidad </strong>
        </th>
        <td style="text-align: left" mat-cell *matCellDef="let element">
          {{ element.cantidad}}
        </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="producto">
        <th
          mat-sort-header
          style="text-align: left"
          mat-header-cell
          *matHeaderCellDef
        >
          <strong> Producto </strong>
        </th>
        <td style="text-align: left" mat-cell *matCellDef="let element">
          {{ element.producto.nombre}}
        </td>
      </ng-container>
       <!-- Name Column -->
       <ng-container matColumnDef="nombre">
        <th
          mat-sort-header
          style="text-align: left"
          mat-header-cell
          *matHeaderCellDef
        >
          <strong> Sucursal </strong>
        </th>
        <td style="text-align: left" mat-cell *matCellDef="let element">
          {{ element.nombre}}
        </td>
      </ng-container>
       <!-- Name Column -->
       <ng-container matColumnDef="precioCompra">
        <th
          mat-sort-header
          style="text-align: left"
          mat-header-cell
          *matHeaderCellDef
        >
          <strong> Precio Compra </strong>
        </th>
        <td style="text-align: left" mat-cell *matCellDef="let element">
          {{ element.precioCompra}}
        </td>
      </ng-container>
       <!-- Name Column -->
       <ng-container matColumnDef="precioVenta">
        <th
          mat-sort-header
          style="text-align: left"
          mat-header-cell
          *matHeaderCellDef
        >
          <strong> Precio Venta </strong>
        </th>
        <td style="text-align: left" mat-cell *matCellDef="let element">
          {{ element.precioVenta}}
        </td>
      </ng-container>
        <!-- Name Column -->
      <ng-container matColumnDef="createAt">
        <th
          mat-sort-header
          mat-header-cell
          *matHeaderCellDef
        >
          <strong> Creado </strong>
        </th>
        <td style="text-align: right" mat-cell *matCellDef="let element">
          {{ element.createAt | date: "EEEE dd, MMMM yyyy" }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="editar">
        <th style="text-align: center" mat-header-cell *matHeaderCellDef>
          <strong> Actualizar </strong>
        </th>
        <td style="text-align: center" mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            class="btn btn-rounded btn-outline-dark btn-sm"
            type="button"
            [routerLink]="['/bodegas/form', element.id]"
          >
            Actualizar
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No se encontraron datos 
        </td>
      </tr>
    </table>
    <mat-paginator
      *ngIf="!activar"
      [pageSizeOptions]="[5, 10, 20, 30]"
      showFirstLastButtons
    ></mat-paginator>
    <div class="alert alert-info" *ngIf="activar">
      <mat-label>
        <strong>No hay registros en la Base de Datos</strong>
      </mat-label>
    </div>
  </mat-card-content>
</mat-card>
