<app-loading *ngIf="loadingService.modal"></app-loading>
<mat-card class="bg-light">
    <mat-card-header>
      <mat-card-title>
        <strong>
          {{titulo}}
        </strong>
      </mat-card-title>
      <mat-icon matSuffix>perm_identity</mat-icon>
    </mat-card-header>
<mat-card-content class="bg-light">
  <mat-card-subtitle>
    <span class="my-1">
      Los campos con (*) son requeridos.
    </span>
    <mat-card *ngIf="errores?.length>0">
      <mat-card-content>
        <ul class="alert alert-danger"  >
          <li  *ngFor="let err of errores" >
            {{err}}
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-card-subtitle>
  <form [formGroup]="formularioCreado" >
    <div class="row">
      <!-- Columna izquierda -->
      <div class="col-sm-6">
        <div class="form-group row">
          <div class="col-sm-8">
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label for="nombre">
                Nombre
              </mat-label>
              <input style="text-transform: uppercase;"
                  matInput required autocomplete="off"
                  formControlName="nombre"
                  placeholder="Ej: juan pepito ">
              <mat-icon matSuffix>create</mat-icon>
            </mat-form-field>
            <mat-error *ngIf="formularioCreado.controls['nombre'].invalid &&
                                (formularioCreado.controls['nombre'].dirty
                                || formularioCreado.controls['nombre'].touched )">
                        <mat-error *ngIf="formularioCreado.controls['nombre'].errors.required"
                               role="alert">
                          Nombre es requerido
                        </mat-error>
                        <mat-error *ngIf="formularioCreado.controls['nombre'].errors.minlength"
                               role="alert" >
                             *Minimo 3 caracteres*
                        </mat-error>
                        <mat-error *ngIf="formularioCreado.controls['nombre'].errors.maxlength"
                               role="alert" >
                             *Maximo 20 caracteres*
                        </mat-error>
            </mat-error>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-8">
            <mat-form-field appearance="fill" style="width: 100%;"  >
              <mat-label for="apellido">
                Apellido
              </mat-label>
              <input style="text-transform: uppercase;"
                  matInput required autocomplete="off"
                  formControlName="apellido"
                  placeholder="ej: doe smitch">
              <mat-icon matSuffix>create</mat-icon>
            </mat-form-field>
            <mat-error *ngIf="formularioCreado.controls['apellido'].invalid &&
                                (formularioCreado.controls['apellido'].dirty
                                || formularioCreado.controls['apellido'].touched )">
                        <mat-error *ngIf="formularioCreado.controls['apellido'].errors.required"
                               role="alert">
                               Apellido es requerido
                        </mat-error>
                        <mat-error *ngIf="formularioCreado.controls['apellido'].errors.minlength"
                               role="alert" >
                             *Minimo 3 caracteres*
                        </mat-error>
                        <mat-error *ngIf="formularioCreado.controls['apellido'].errors.maxlength"
                               role="alert" >
                             *Maximo 20 caracteres*
                        </mat-error>
            </mat-error>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-8">
            <mat-form-field appearance="fill" style="width: 100%;"  >
              <mat-label for="documento">
                Documento de identidad
              </mat-label>
              <input  matInput required autocomplete="off"
                  formControlName="documento"
                  placeholder="ej: 1234569870">
             <mat-icon matSuffix>perm_identity</mat-icon>
            </mat-form-field>
            <mat-error *ngIf="formularioCreado.controls['documento'].invalid &&
                                (formularioCreado.controls['documento'].dirty
                                || formularioCreado.controls['documento'].touched )">
                        <mat-error *ngIf="formularioCreado.controls['documento'].errors.required"
                               role="alert">
                               Documento es requerido
                        </mat-error>
                        <mat-error *ngIf="formularioCreado.controls['documento'].errors.minlength"
                               role="alert" >
                             *Minimo 8 caracteres*
                        </mat-error>
                        <mat-error *ngIf="formularioCreado.controls['documento'].errors.maxlength"
                               role="alert" >
                             *Maximo 10 caracteres*
                        </mat-error>
            </mat-error>
          </div>
        </div>
       
        <div class="form-group row">
          <div class="col-sm-8">
            <mat-form-field appearance="fill" style="width: 100%;"  >
              <mat-label for="direccion">
                Barrio
              </mat-label>
            <mat-select 
                      [compareWith]="compararRegion"
                      formControlName="region" required
                      name="region"
                      style="width: 330px;">
                      <mat-option
                        *ngFor="let region of regiones"
                        [value]="region"
                      >
                        {{region.nombre | uppercase}}
                      </mat-option >
            </mat-select>
            <mat-icon matSuffix> location_on</mat-icon>
          </mat-form-field>
            <mat-error *ngIf="formularioCreado.controls['region'].invalid &&
                              (formularioCreado.controls['region'].dirty
                              || formularioCreado.controls['region'].touched )">
            </mat-error>
          </div>
        </div>
        
      </div>  <!-- fin columna izquierda -->
      <!-- columna derecha -->
      <div class="col-sm-6">
        <div class="form-group row">
          <div class="col-sm-8">
            <mat-form-field appearance="fill" style="width: 100%;"  >
              <mat-label for="direccion">
                Direccion
              </mat-label>
              <input style="text-transform: uppercase;"
                  matInput autocomplete="off"
                  formControlName="direccion"
                  placeholder="ej: calle-4 av-102 # 1-02">
                  <mat-icon matSuffix>home</mat-icon>
            </mat-form-field>
            <mat-error *ngIf="formularioCreado.controls['direccion'].invalid &&
                                (formularioCreado.controls['direccion'].dirty
                                || formularioCreado.controls['direccion'].touched )">
                        <mat-error *ngIf="formularioCreado.controls['direccion'].errors.minlength"
                               role="alert" >
                             *Minimo 3 caracteres*
                        </mat-error>
                        <mat-error *ngIf="formularioCreado.controls['direccion'].errors.maxlength"
                               role="alert" >
                             *Maximo 50 caracteres*
                        </mat-error>
            </mat-error>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-8">
            <mat-form-field appearance="fill" style="width: 100%;"  >
              <mat-label for="email">
                Email
              </mat-label>
              <input style="text-transform: uppercase;" autocomplete="off"
                  matInput autocomplete="off"
                  formControlName="email"
                  placeholder="ej: sucorreo@gmail.com ">
              <mat-icon matSuffix> email</mat-icon>
            </mat-form-field>
            <mat-error *ngIf="formularioCreado.controls['email'].invalid &&
                                (formularioCreado.controls['email'].dirty
                                || formularioCreado.controls['email'].touched )">
                        
                        <mat-error *ngIf="formularioCreado.controls['email'].errors.email"
                               role="alert" >
                               Formato de 'Email' no valido
                        </mat-error>
            </mat-error>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-8">
            <mat-form-field appearance="fill" style="width: 100%;"  >
              <mat-label for="celular1">
                Celular Principal
              </mat-label>
              <input matInput autocomplete="off"
                  formControlName="celular1"
                  placeholder="Ej: 321123456">
              <mat-icon matSuffix> stay_primary_portrait</mat-icon>
            </mat-form-field>
            <mat-error *ngIf="formularioCreado.controls['celular1'].invalid &&
                                (formularioCreado.controls['celular1'].dirty
                                || formularioCreado.controls['celular1'].touched )">
                        
                        <mat-error *ngIf="formularioCreado.controls['celular1'].errors.minlength"
                               role="alert" >
                             *Minimo 10 caracteres*
                        </mat-error>
                        <mat-error *ngIf="formularioCreado.controls['celular1'].errors.maxlength"
                               role="alert" >
                             *Maximo 10 caracteres*
                        </mat-error>
            </mat-error>
          </div>
        </div>
      </div>  <!--  fin columna derecha -->
    </div>
    <mat-card-footer class="bg-light ml-4">
      <button class="btn btn-rounded btn-primary btn-xs my-3  "
                role="button"
                (click)="create()"
                *ngIf="!cliente.id else elseBlock">
          Crear
        </button>
        <ng-template #elseBlock>
            <button class="btn btn-rounded btn-success btn-xs my-3 "
                role="button"
                (click)="update()">
          Actualizar
        </button>
        </ng-template>
    </mat-card-footer>
  </form>
  </mat-card-content>
</mat-card>


